<section class="tpl-12-section-1">
    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h3><strong>Sprachzentrum <%= state %></strong></h3>
                <br>

                <dl class="dl-horizontal">
                    <dt>Sprache</dt>
                    <dd><%= language.name %></dd>

                    <br>

                    <dt>Lehrer</dt>
                    <dd><%= courseInfo.docentname %></dd>

                    <dt>Email</dt>
                    <dd><a href="mailto:<%= courseInfo.email %>"><%= courseInfo.email %></a></dd>

                    <dt>Telefon</dt>
                    <dd><%= courseInfo.phone %></dd>

                    <dt>Beschreibung</dt>
                    <dd><%= courseInfo.textdocent %></dd>

                    <dt>Plätze</dt>
                    <dd><%= courseInfo.registeredParticipants %> / <%= courseInfo.maxParticipants %></dd>
                </dl>
            </div>

            <div class="col-lg-5 col-lg-offset-1">
                <h4>Anmeldung</h4>
                <form id="signup-form" novalidate>
                    <div class="form-group">
                        <input id='input-firstname' required placeholder='Vorname *' type="text" value="<%= user.firstname %>" class="form-control">
                        <% if(user.error.firstname) { %>
                            <div class="alert alert-danger" role="alert"><%= user.error.firstname %></div>
                        <% } %>
                    </div>
                    <div class="form-group">
                        <input id='input-lastname' required placeholder='Nachname *' type="text" value="<%= user.lastname %>" class="form-control">
                        <% if(user.error.lastname) { %>
                            <div class="alert alert-danger" role="alert"><%= user.error.lastname %></div>
                        <% } %>
                    </div>
                    <div class="form-group">
                        <input id='input-email' required placeholder='Email *' type="email" value="<%= user.email %>" class="form-control">
                        <% if(user.error.email) { %>
                            <div class="alert alert-danger" role="alert"><%= user.error.email %></div>
                        <% } %>
                    </div>
                    <div class="form-group">
                        <input id='input-phone' placeholder='Telefon' type="tel" value="<%= user.phone %>" class="form-control">
                        <% if(user.error.phone) { %>
                            <div class="alert alert-danger" role="alert"><%= user.error.phone %></div>
                        <% } %>
                    </div>
                    <button class="btn btn-primary" type="submit">Anmelden</button>
                    &nbsp;
                    <small>* erforderlich</small>
                </form>
                <% if(courseInfo.registered) { %>
                    <div class="alert alert-success" role="alert">Sie haben sich erfolgreich angemeldet.</div>
                <% } %>
            </div>
        </div>

    </div>
</section>
