<section class="tpl-12-section-1">
    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h3><strong>Sprachzentrum <%= state %></strong></h3>
                <p><%= language %></p>

                <dl class="dl-horizontal">
                    <dt>Lehrer</dt>
                    <dd><%= courseInfo.docentname %></dd>

                    <dt>Email</dt>
                    <dd><a href="mailto:<%= courseInfo.email %>"><%= courseInfo.email %></a></dd>

                    <dt>Telefon</dt>
                    <dd><%= courseInfo.phone %></dd>

                    <dt>Beschreibung</dt>
                    <dd><%= courseInfo.textdocent %></dd>

                    <dt>Plätze</dt>
                    <dd><%= courseInfo.registeredParticipants %> / <%= courseInfo.maxParticipants %></dd>
                </dl>
            </div>

            <div class="col-lg-5 col-lg-offset-1">
                <h4>Anmeldung</h4>
                <form action="">
                    <div class="form-group">
                        <input placeholder='Vorname *' type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <input placeholder='Nachname *' type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <input placeholder='Email *' type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input placeholder='Telefon' type="tel" class="form-control">
                    </div>
                    <button class="btn btn-default" type="button">Anmelden</button>
                    &nbsp;
                    <small>* erforderlich</small>
                </form>
            </div>
        </div>

    </div>
</section>
