<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title>SLS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="styles/main.css">
    <link type="text/css" rel="stylesheet" href="styles/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="styles/main.css" media="screen,projection" />
</head>

<body ng-app="sls" ng-controller="MainCtrl">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-if="route === '/'" ng-include="'./views/landing.html'" ng-controller="LandingCtrl"></div>

    <span ng-if="route !== '/'" ng-controller="HomeCtrl">

        <nav class="light-blue lighten-1" role="navigation">
            <div class="container">
                <div class="nav-wrapper"><a id="logo-container" href="#" class="brand-logo" ng-click="routing('home')">Logo</a>
                    <ul id="nav-mobile" class="right side-nav">
                        <li ng-repeat="navElement in navElements" ng-class="{'active': route === navElement.toLowerCase()}">
                          <a href="#" ng-click="routing(navElement)">{{navElement}}</a>
                        </li>
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse">
                        <i class="mdi-navigation-menu"></i>
                    </a>
                </div>
            </div>
        </nav>

        <div ng-if="route === 'home'" ng-include="'./views/content.html'"></div>

        <div ng-repeat="navElement in navElements" ng-if="route === navElement.toLowerCase()" ng-include="'./views/' + navElement.toLowerCase() + '.html'">
        </div>


        <div ng-include="'./views/footer.html'"></div>

    </span>

    <!-- compotents -->
    <script src="components/jquery.min.js"></script>
    <script src="components/angular.js"></script>
    <script src="components/materialize.min.js"></script>


    <!-- scripts -->
    <script src="app.js"></script>
    <script src="controllers/main.js"></script>
    <script src="controllers/landing.js"></script>
    <script src="controllers/home.js"></script>
</body>

</html>
