
  <footer class="orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">SLS Sprachschule</h5>
          <p class="grey-text text-lighten-4">Bacon ipsum dolor amet boudin tail alcatra turducken frankfurter shoulder. Fatback ham hock bacon andouille, landjaeger pancetta kevin tenderloin.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="orange-text">a</h5>
          <ul>
            <li><a class="white-text" href="#!">Impressum</a></li>
            <li><a class="white-text" href="#!">Terms and Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by us</a>
      </div>
    </div>
  </footer>