<section id="events" class="tpl-12-section-1">
    <div class="container">

        <div class="row">
            <h1>Eventkalender <span>
                <% if( typeof state != 'undefined'){ %><%= state.name %><% } %>

            </span></h1>
            <p>
                Mauris scelerisque nisl metus. Duis at pulvinar diam, vitae viverra urna. Maecenas a augue non orci vulputate scelerisque et nec libero. Morbi tincidunt leo eget sapien lacinia semper. Aliquam sollicitudin pellentesque elit sit amet luctus. Aenean ut dui pulvinar tortor mollis cursus ut facilisis massa. Etiam vel dapibus urna, quis accumsan tortor. Pellentesque ut magna auctor, blandit nisi nec, iaculis massa. Integer arcu est, rhoncus sit amet ultrices non, iaculis eu magna
            </p>
        </div>


        <div class="row">
            <div class="col-lg-8">
                <div id="calendar"></div>
            </div>
            <div class="col-lg-4">
                <h3>Veranstaltungen</h3>

                <ul>


                    <% for ( i = 0; i < events.length; i++ ){ e = events[i]; %>
                        <li><a href="<%= e.url %>"><%= e.title %> (<%= this.getStateFromKey(e.location) %> - <%= this.humanizeDate( e.start ) %>)</a></li>
                    <% } %>

                </ul>
            </div>
        </div>

    </div>
</section>



