section.blur(layout='row', flex='', ng-class='{ "blur-transition" : !languageChooserIsVisible }')
    md-sidenav.md-sidenav-left.md-whiteframe-z2(component-id='left', is-locked-open="$media('min-width: 768px')")
      md-toolbar.md-theme-indigo
        h1.md-toolbar-tools Sidenav Left

      md-content.md-padding(ng-controller='LeftCtrl')
        md-button.md-primary(ng-click='close()', hide-gt-md='') Close Sidenav Left

        p(hide-md='', show-gt-md='').
          This sidenav is locked open on your device. To go back to the default behavior, narrow your display.

    md-content.md-padding(flex='')
      div(layout='column', layout-fill='', layout-align='center center')
        p The left sidenav will &apos;lock open&apos; on a medium (&gt;=960px wide) device.
        md-button.md-primary(ng-click='toggleLeft()', hide-gt-md='') Toggle left

div(language-chooser)
