.blur
    filter: blur(10px)
    -moz-filter: blur(10px)
    -webkit-filter: blur(10px)
    
    transition: filter 0.05s linear
    -moz-transition: -moz-filter 0.05s linear
    -webkit-transition: -webkit-filter 0.05s linear

.blur-transition
    filter: blur(0px)
    -moz-filter: blur(0px)
    -webkit-filter: blur(0px)