<div class="location-info-wrapper">
    <address>
        <h3><strong>Sprachzentrum <%= name %></strong></h3>

        <br>

        <%= address.split(',')[0] %><br>
        <%= address.split(',')[1] %><br>

        <abbr title="Phone">P:</abbr> (123) 456-7890

    </address>

    <h4>Angebotene Kurse</h4>

    <ul class="list-unstyled">
        <% for( var i = 0; i < courses.length; i++ ) { var c = courses[i] %>
            <li>
                <a href='#locations/<%= code %>/<%= c %>' data-id='<%= c %>'><%= this.getCourseFromCode(c) %></a>
            </li>
        <% } %>
    </ul>

    <a style="font-size: 1.5em" href="#events/<%= code %>">
        <b>Veranstaltungen an diesem Ort</b>
    </a>
</div>
