

// injector

// endinjector

#language-chooser
    opacity: 0.8
    position: fixed
    height: 100vh
    width: 100vw
    top: 0
    left: 0
    z-index: 99
    color: white !important
    background-color: black


.row + .row
    margin-top: 20px


.face
    margin-bottom: 40px
    padding: 0 40px
    text-align: center

    blockquote:before
        display: none

    footer
        text-align: right

    p
        text-align: left

    img
        border-radius: 150px


/*#language-chooser-content*/
    /*width: 600px*/
    /*background-color: #EEE*/

.flag
    cursor: pointer
    padding: 10px
    

address {
    margin: 30px 0
}


[layout-align="center center"], [layout-align="start center"], [layout-align="end center"], [layout-align="space-between center"], [layout-align="space-around center"]
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center

[layout-align="center"], [layout-align="center center"], [layout-align="center start"], [layout-align="center end"]
  -webkit-justify-content: center
  -ms-flex-pack: center
  justify-content: center

[layout=vertical]
  -webkit-flex-direction: column
  -ms-flex-direction: column
  flex-direction: column

[layout]
  box-sizing: border-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
