footer.footer-11
    .container
        a.brand(href='#')
            img(src='assets/images/infinity-bw@2x.png', width='42', height='21', alt='')

        .social-btns
            a(href='#')
                .fui-vimeo
                .fui-vimeo

            a(href='#')
                .fui-facebook
                .fui-facebook

            a(href='#')
                .fui-twitter
                .fui-twitter

        nav
            ul
                li
                    a(href='#') Home

                li
                    a(href='#') Blog

                li
                    a(href='#') Portfolio

                li
                    a(href='#') Contact

    .additional-links
        .container
            p.lead
                b 200,000
                |  users registered since January

            a(href='#') Terms &amp; Conditions

            a(href='#') Privacy Policy

            a(href='#') Advertise

            a(href='#') Affiliate Program

            a(href='#') Contact Us
